:root {

  /* BACKGROUND */

  --background: #0b0b0b;
  --backgroundcard: #121212;

  /* TEXT */

  --textPrimary: #9ca3af;
  --textSecondary: #ffffff;

  /* ACCENT */

  --popup: #7c3aed;
  --popupcard: #9333ea;

}