/* SECTION */

.edu{
  padding:160px 10%;
}


/* HEADER */

.edu-header{
  max-width:650px;
  margin-bottom:80px;
}

.edu-subtitle{
  color:var(--popup);
  font-size:14px;
  letter-spacing:2px;
  margin-bottom:12px;
}

.edu-title{
  font-size:48px;
  margin-bottom:16px;
}

.edu-desc{
  color:var(--textPrimary);
  line-height:1.6;
}


/* EDUCATION LIST */

.edu-list{
  display:flex;
  flex-direction:column;
  gap:40px;
}


/* ITEM */

.edu-item{

  display:grid;
  grid-template-columns:60px 1fr auto;

  align-items:center;

  gap:30px;

  padding:28px;

  background:var(--backgroundcard);

  border:1px solid #1f1f1f;

  border-radius:16px;

  transition:0.3s ease;

}


/* HOVER */

.edu-item:hover{
  border-color:var(--popup);
  transform:translateY(-4px);
}


/* ICON */

.edu-icon{
  font-size:26px;
  color:var(--popup);
}


/* CONTENT */

.edu-content h3{
  font-size:20px;
  margin-bottom:4px;
}

.edu-field{
  color:var(--textPrimary);
}

.edu-school{
  color:var(--textPrimary);
}


/* YEAR */

.edu-year{
  color:var(--textPrimary);
  font-weight:500;
}