.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 96px 96px 0 96px;
  min-height: 100vh;
}


/* LEFT SIDE */

.hero-left {
  max-width: 420px;
  position: relative;
  z-index: 2;
  padding-left: 96px;
}

.hero-left h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--textPrimary);
  -webkit-text-stroke: 1px rgb(152, 176, 221);
}


/* LINE */

.line {
  width: 80px;
  height: 6px;
  background: var(--popup);
  margin: 20px 0;
}

.hero-left a{
  color: var(--textSecondary);
  text-decoration: none;
  margin-right: 12px;
  transition: color 0.2s ease;
}


/* SOCIAL ICONS */

.socials img{
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
  transition: 0.2s;
}

.socials img:hover{
  filter: brightness(0) invert(1) drop-shadow(0 0 6px white);
}



/* RIGHT SIDE */

.hero-right {
  position: relative;
  z-index: 2;
  margin-right: 10%;
  margin-left: 20%;
}

.desc{
  font-size: 1.2em;
}

.hero-right h2{
  font-size: 2.6em;
  color: var(--textSecondary);
}



/* IMAGE POSITION */

.hero-image {
  position: absolute;
  top: -80px;
  left: 35%;
  transform: translateX(-50%);
  z-index: 1;
}


/* IMAGE SIZE */

.hero-image img {
  width: 656px;
  max-width: none;
  filter: drop-shadow(0 50px 50px rgba(0,0,0,0.45));
}



/* RESUME BUTTON */

.resume-btn{
  display:inline-block;
  margin-top:20px;
  font-size:1.1em;
  padding:10px 22px;
  border-radius:8px;
  background:linear-gradient(135deg,var(--popup),#713772);
  color:white;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.resume-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 0 0 2px var(--popup),
             0 10px 25px rgba(0,0,0,0.35);
}