.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 50;
  padding: 16px 64px;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  font-weight: bold;
  font-size: 1.2em;
}

.nav-links li {
  position: relative;
  cursor: pointer;
  color: var(--textSecondary);
}

.nav-links a{
  text-decoration: none;
  color: inherit;
}

.nav-links li.active {
  color: var(--textPrimary);
}

.nav-links li:hover{
  color: var(--textPrimary);
}


/* ACTIVE DOT */

.dot {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: orange;
  border-radius: 50%;
}


/* MENU BUTTON */

.menu-button{
  position: fixed;
  right: 16px;
  top: 16px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  color: white;
}


/* ============================= */
/* TABLET RESPONSIVE */
/* ============================= */

@media (max-width:1024px){

.navbar{
  padding:14px 40px;
}

.nav-links{
  gap:18px;
  font-size:1.1em;
}

}


/* ============================= */
/* MOBILE */
/* ============================= */

@media (max-width:768px){

.nav-links{
  display:none;
}

.menu-button{
  display:block;
}

}


/* ============================= */
/* DESKTOP */
/* ============================= */

@media (min-width:769px){

.menu-button{
  display:none;
}

}