/* SECTION */

.projects{
  padding:120px 0;
}


/* TITLE */

.section-title{
  font-size:42px;
  margin-bottom:60px;
  color:var(--textSecondary);
}


/* PROJECT GRID */

.projects-list{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:30px;
}


/* CARD */

.project-item{
  position:relative;
  overflow:hidden;
  border-radius:22px;
  height:340px;
  cursor:pointer;
  background:var(--backgroundcard);
}


/* IMAGE */
.project-image {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0.25; /* 🔥 controls transparency */
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.project-item:hover img{
  transform:scale(1.06);
}


/* OVERLAY */

.project-info{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  padding:26px;
  z-index: 2;
  background:linear-gradient(
    to top,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.5),
    transparent
  );
}


/* TITLE */

.project-info h3{
  font-size:22px;
  margin-bottom:6px;
  color:var(--textSecondary);
  transition:all .3s ease;
}


/* HOVER TITLE EFFECT */

.project-item:hover .project-info h3{
  color:var(--popup);
  transform:translateY(-3px);
  text-shadow:0 0 10px rgba(124,58,237,0.6);
}


/* DESCRIPTION */

.project-info p{
  font-size:14px;
  color:var(--textPrimary);
  margin-bottom:14px;
}


/* TECH TAGS */

.project-tech{
  display:flex;
  gap:8px;
  flex-wrap:wrap;
}

.project-tech span{
  font-size:11px;
  padding:4px 10px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  color:#e5e7eb;
  transition:0.3s ease;
}


/* TAG HOVER */

.project-item:hover .project-tech span{
  background:var(--popupcard);
  color:white;
}


/* RESPONSIVE */

@media (max-width:900px){
  .projects-list{
    grid-template-columns:1fr;
  }
}