/* SECTION */

.skills{
  padding:120px 0;
}


/* TITLE */

.section-title{
  font-size:42px;
  margin-bottom:20px;
}

.section-title span{
  color:var(--popup);
}


/* DESCRIPTION */

.skills-desc{
  color:var(--textPrimary);
  max-width:600px;
  margin-bottom:60px;
}


/* GRID */

.skills-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:30px;
}


/* CARD */

.skill-card{
  display:flex;
  align-items:center;
  gap:20px;

  padding:26px 32px;

  background:#0c0c0c;
  border:1px solid #1f1f1f;
  border-radius:20px;

  transition:all .35s ease;
  cursor:pointer;
}


/* ICON */

.skill-icon{
  font-size: 3.5em;   /* bigger icon */

  color:var(--popupcard);

  background:white;

  padding:12px;

  border-radius:12px;

  display:flex;
  align-items:center;
  justify-content:center;

  flex-shrink:0;
}

/* TEXT */

.skill-card span{
  color:white;
  font-size:18px;
  font-weight:500;
}


/* HOVER EFFECT */

.skill-card:hover{
  background:linear-gradient(
    135deg,
    var(--popup),
    var(--popupcard)
  );

  border-color:transparent;

  transform:translateY(-8px) scale(1.03);

  box-shadow:0 12px 30px rgba(124,58,237,0.35);
}


/* RESPONSIVE */

@media (max-width:900px){

  .skills-grid{
    grid-template-columns:1fr;
  }

}